{% load static %}
{% if target_list %}
	<div id="targetUser">{{ target_list.0.target_text }}</div>
    <img id="imageUser"
    	 src="{% static target_list.0.target_img.url %}" 
     	 height="{{ target_list.0.target_img.height }}"
     	 height="{{ target_list.0.target_img.width }}">

    <div id="targetOpponent">{{ target_list.1.target_text }}</div>
    <img id="imageOpponent"
    	 src="{% static target_list.1.target_img.url %}" 
     	 height="{{ target_list.1.target_img.height }}"
     	 height="{{ target_list.1.target_img.width }}">

{% else %}
    <p>No targets are available.</p>
{% endif %}